.main-background {
  position: relative;
  min-height: 100vh;
  background-color: rgba(24, 99, 143, 0.788);
  background-image: url('https://images.unsplash.com/photo-1493243350443-9e3048ce7288?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1797&q=80');
}

.background-particles {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}
